- provide :body_class, "nav-md"

/ page content
.right_col{:role => "main"}
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2
            Tenancies
          %ul.nav.navbar-right.panel_toolbox
            %li
              %a.collapse-link
                %i.fa.fa-chevron-up
            %li
              %a.close-link
                %i.fa.fa-close
          .clearfix
        .x_content
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Tenants
                %th Terms
                %th Start date
                %th End date
                %th Rent £ / PCM
                %th Deposit £ / PCM
            %tbody
              - @tenancies.each do |tenancy|
                %tr
                  %td
                    %a{:href => tenancy_path(tenancy)}
                      .label.label-primary= tenancy.name
                  %td= tenancy.tenants
                  %td= tenancy.term
                  %td= tenancy.start_date
                  %td= tenancy.end_date
                  %td= tenancy.rent
                  %td= tenancy.deposit
    .col-md-12.col-sm-12.col-xs-12
      = will_paginate @tenancies, renderer: BootstrapPagination::Rails
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2
            Certificates
          %ul.nav.navbar-right.panel_toolbox
            %li
              %a.collapse-link
                %i.fa.fa-chevron-up
            %li
              %a.close-link
                %i.fa.fa-close
          .clearfix
        .x_content
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Document Type
                %th Expiry date
                %th File
            %tbody
              - @certificates.each do |certificate|
                %tr
                  %td
                    %a{:href => certificate_path(certificate)}
                      .label.label-primary= certificate.name
                  %td= certificate.doc_type.name
                  %td= certificate.expiry_date
                  %td= link_to certificate.file_file_name, certificate.file.url

/ /page content
