- provide :body_class, "nav-md"

.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3= "#{t(:hi)}, #{@employee.username}"
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(@employee, html: { class: "form-horizontal form-label-left" }) do |f|
                = render "shared/error_messages", object: @employee

                %h4= t(:profile)
                .ln_solid

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "email"}
                    = t(:email)
                  .col-md-3.col-sm-3.col-xs-12
                    %input.form-control.col-md-7.col-xs-12{:type => "text", :disabled => "", :value => @employee.user.email}/

                - %i(first_name middle_name last_name).each do |field|
                  .form-group
                    %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => field}
                      = t(field)
                    .col-md-3.col-sm-3.col-xs-12
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "employee[#{field}]", :value => @employee.public_send(field)}/

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "Date of birth"}
                    = t(:dob)
                  .col-md-3.col-sm-3.col-xs-12
                    #dob.input-group
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "employee[dob]", :value => @employee.try(:dob).try(:strftime, "%F")}/
                      %span.input-group-addon
                        %i.fa.fa-calendar

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "avatar"}
                    Avatar
                  .col-md-6.col-sm-6.col-xs-12
                    = image_tag avatar_url
                    %input#avatar{:type => "file", :name => "employee[avatar]"}/

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "gender"}
                    = t(:gender)
                  .col-md-3.col-sm-3.col-xs-12
                    .radio
                      - @gender_types.each do |gender_type|
                        = gender_type.name
                        .iradio_flat-green
                          %input.flat{:name => "employee[gender_id]", :type => "radio", :value => gender_type.id, :checked => gender_type == @employee.gender}/
                          %ins.iCheck-helper


                %h4= t(:contact)
                .ln_solid
                - %i(line1 line2 county city country postcode mobile).each do |field|
                  .form-group
                    %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => field}
                      = t(field)
                    .col-md-4.col-sm-4.col-xs-12
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "employee[#{field}]", :value => @employee.public_send(field)}/

                %h4= t(:company_profile)
                .ln_solid
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "title"}
                    = t(:title)
                  .col-md-3.col-sm-3.col-xs-12
                    %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "employee[title]", :value => @employee.title}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "department"}
                    = t(:department)
                  .col-md-3.col-sm-3.col-xs-12
                    - if current_admin?
                      %select.form-control{:name => "employee[department_id]"}
                        - @departments.each do |department|
                          %option{:value => department.id, :selected => selected_if(department, @employee.department)}= department.name
                    - else
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :disabled => "", :value => @employee.department.name}/

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    %button.btn.btn-success{:type => "submit"} Submit

= javascript_include_tag "daterangepicker"

:javascript
  $(document).ready(function(){
    var options = {
      locale: {
        format: "YYYY-MM-DD",
      },
      singleDatePicker: true
    }
    $('#dob input').daterangepicker(options);
  });
