- provide :body_class, "nav-md"

.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3= t(:edit_profile)
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal form-label-left", multipart: true }) do |f|

                = devise_error_messages!

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "user_password"}
                    = t(:new_password)
                  .col-md-6.col-sm-6.col-xs-12
                    %input#user_password.form-control.col-md-7.col-xs-12{:name => "user[password]", :type => "password"}/
                    .help-block
                      %i= t(:leave_password_blank)
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "password_confirmation"}
                    = t(:password_confirmation)
                  .col-md-6.col-sm-6.col-xs-12
                    %input#password_confirmation.form-control.col-md-7.col-xs-12{:type => "password", :name => "user[password_confirmation]", :id => "user_password_confirmation"}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "current_password"}
                    = t(:current_password)
                    %span.required
                  .col-md-6.col-sm-6.col-xs-12
                    %input#current_password.form-control.col-md-7.col-xs-12{:type => "password", :name => "user[current_password]", :id => "user_current_password"}/

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    = f.submit t(:submit), class: "btn btn-success", disable_with: t(:submitting)
