- provide :body_class, "nav-md"

.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3= @tenancy.name
      - if current_user.admin?
        .title_right
          .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
            %a.btn.btn-info.btn-xs{:href => edit_tenancy_path(@tenancy)}
              %i.fa.fa-pencil
              Edit
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              .row
                .col-md-6.col-sm-6.col-xs-12
                  %p Tenants
                  %h2
                    %i.fa.fa-users
                    = @tenancy.tenants
                .col-md-6.col-sm-6.col-xs-12
                  %p Terms
                  %h2
                    %i.fa.fa-clock-o
                    = "#{pluralize(@tenancy.term, 'month')}"
                .col-md-6.col-sm-6.col-xs-12
                  %p Rent / PCM
                  %h2
                    %i.fa.fa-gbp
                    = @tenancy.rent
                .col-md-6.col-sm-6.col-xs-12
                  %p Deposit
                  %h2
                    %i.fa.fa-gbp
                    = @tenancy.deposit
                .col-md-6.col-sm-6.col-xs-12
                  %p Start date
                  %h2
                    %i.fa.fa-calendar-check-o
                    = @tenancy.start_date
                .col-md-6.col-sm-6.col-xs-12
                  %p End date
                  %h2
                    %i.fa.fa-calendar-check-o
                    = @tenancy.end_date
