.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3= title
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(@diary, html: { class: "form-horizontal form-label-left" }) do |f|
                = render "shared/error_messages", object: @diary

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12= t(:projects)
                  .col-md-9.col-sm-9.col-xs-12
                    %select.select2_single.form-control{:name => "diary[project_id]", :required => ""}
                      - @projects.each do |project|
                        %option{:value => project.id, :selected => selected_if(project, @diary.project)}= project.name

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "start"}
                    = t(:start_time)
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-12
                    #start.input-group
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "diary[start]", :value => @diary.try(:start).try(:strftime, "%Y-%m-%d %H:%M"), :required => ""}/
                      %span.input-group-addon
                        %i.fa.fa-calendar

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "end"}
                    = t(:end_time)
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-12
                    #end.input-group
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "diary[end]", :value => @diary.try(:end).try(:strftime, "%Y-%m-%d %H:%M"), :required => ""}/
                      %span.input-group-addon
                        %i.fa.fa-calendar

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "hours"}
                    = t(:hours)
                  .entry
                    .col-md-3.col-sm-3.col-xs-3.input-field
                      %input#hours.form-control.col-md-7.col-xs-12{:type => "number", :value => @diary.hours, :min => 0, :disabled => "disabled"}/

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "notes"}
                    = t(:notes)
                  .entry
                    .col-md-6.col-sm-6.col-xs-6.input-field
                      %textarea.form-control.col-md-7.col-xs-12{:name => "diary[notes]", :type => "text", :rows => 5, :required => ""}= @diary.notes

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    %button.btn.btn-success{:type => "submit"}= t(:submit)

= javascript_include_tag "daterangepicker"

:javascript
  $(document).ready(function(){
    var startPicker = $('#start');
    var endPicker = $('#end');

    startPicker.datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      useCurrent: false
    });

    endPicker.datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      useCurrent: false
    });

    startPicker.click(function(){
      $(this).datetimepicker('show');
    });

    endPicker.click(function(){
      $(this).datetimepicker('show');
    });

    startPicker.on('dp.change', function (e) {
      endPicker.data('DateTimePicker').minDate(e.date);
    });

    endPicker.on('dp.change', function (e) {
      var startDate = startPicker.datetimepicker('date');
      if (startDate != null) {
        $('#hours').val(hourdiff(startDate, e.date));
      }
    });

    $(".select2_single").select2({
      placeholder: "#{t(:projects)}",
      allowClear: true
    });
  });
