%footer
  .pull-right
    SlimHR - powered by
    %a{:href => "#"} SHEERDEVELOPMENT
  .clearfix

/ FastClick
= javascript_include_tag "fastclick"
/ NProgress
= javascript_include_tag "nprogress"
/ Chart.js
= javascript_include_tag "Chart.min"
/ gauge.js
= javascript_include_tag "gauge.min"
/ bootstrap-progressbar
= javascript_include_tag "bootstrap-progressbar.min"
/ iCheck
= javascript_include_tag "icheck.min"
/ Custom Theme Scripts
= javascript_include_tag "custom.min"
