.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title{:style => "border: 0;"}
      %a.site_title{:href => root_path}
        = image_tag "logo.png", size: "34x34"
        %span= t(:company_name)
    .clearfix

    .profile
      .profile_pic
        = image_tag avatar_url, :class => "img-circle profile_img"
      .profile_info
        %span= t(:welcome)
        %h2= current_user.username

    %br/
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %h3= t(:general)
        %ul.nav.side-menu
          %li{:class => active_menu_if("static_pages")}
            %a
              %i.fa.fa-home
              = t(:home)
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => root_path}= t(:summary)

          %li{:class => active_menu_if("absences")}
            %a
              %i.fa.fa-calendar-check-o
              = t(:absences)
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => absences_path}= t(:all)
              %li
                %a{:href => new_absence_path}= t(:request_absence)

          %li{:class => active_menu_if("diaries")}
            %a
              %i.fa.fa-sticky-note-o
              = t(:diaries)
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => diaries_path}= t(:all)
              %li
                %a{:href => new_diary_path}= t(:record_diary)

          %li{:class => active_menu_if("registrations")}
            %a
              %i.fa.fa-wrench
              = t(:settings)
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => edit_user_registration_path}= t(:edit_account)
              %li
                %a{:href => edit_employee_path(current_user.employee)}= t(:edit_profile)
          %li
            %a
              %i.fa.fa-language
              = t(:language)
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                = link_to "English", url_for(lang: :en)
              %li
                = link_to "中文（简体）", url_for(lang: :"zh-CN")

      - if current_admin?
        .menu_section
          %h3= t(:admin_section)
          %ul.nav.side-menu
            %li
              %a
                %i.fa.fa-users
                = t(:employees)
                %span.fa.fa-chevron-down
              %ul.nav.child_menu
                %li
                  %a{:href => employees_path}= t(:all)
            %li
              %a
                %i.fa.fa-calendar-check-o
                = t(:absences)
                %span.fa.fa-chevron-down
              %ul.nav.child_menu
                %li
                  %a{:href => absences_path}= t(:all)
            %li
              %a
                %i.fa.fa-sticky-note-o
                = t(:diaries)
                %span.fa.fa-chevron-down
              %ul.nav.child_menu
                %li
                  %a{:href => diaries_path}= t(:all)
            %li
              %a
                %i.fa.fa-tasks
                = t(:projects)
                %span.fa.fa-chevron-down
              %ul.nav.child_menu
                %li
                  %a{:href => projects_path}= t(:all)
