- provide :body_class, "nav-md"

.right_col{:role => "main", :style => "min-height: 1264px;"}
  %div
    .page-title
      .title_left
        %h3 #{@project.name}
    .clearfix

    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
          .x_title
            %h2
              #{t(:project_status)}
              %code= @project.status.name
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
          .x_content
            %h4= t(:participants)
            - @project.participation.each do |employee, hours|
              - percentage = number_with_precision(hours * 100 / @total, precision: 2)
              .widget_summary
                .w_left.w_25
                  %span= link_to employee.username, employee_path(employee)
                .w_center.w_55
                  .progress
                    .progress-bar.bg-green{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => percentage, :role => "progressbar", :style => "width: #{percentage}%;"}
                      %span.sr-only #{percentage}%
                .w_right.w_20
                  %code #{hours}
                  #{t(:hours)}
                .clearfix

            %hr
            %h4
              Total spent
              %code= number_with_precision(@total, precision: 2)
              #{t(:hours)}

