.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3= title
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(@absence, html: { class: "form-horizontal form-label-left" }) do |f|
                = render "shared/error_messages", object: @absence

                = hidden_field(:absence, :start, value: @absence.try(:start) || Time.now.beginning_of_day)
                = hidden_field(:absence, :end, value: @absence.try(:end) || Time.now.end_of_day)

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "Type"}
                    = t(:absence_type)
                    %span.required *
                  .entry
                    .col-md-6.col-sm-6.col-xs-6.input-field
                      .radio
                        - @absence_types.each do |absence_type|
                          .iradio_flat-green
                            %input.flat{:name => "absence[absence_type_id]", :type => "radio", :value => absence_type.id, :checked => absence_type == @absence.type, :required => ""}/
                            %ins.iCheck-helper
                          = absence_type.name

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "period"}
                    = t(:period_time)
                    %span.required *
                  .col-md-6.col-sm-6.col-xs-12
                    .input-group
                      %input#period.form-control.col-md-7.col-xs-12{:type => "text", :required => ""}/
                      %span.input-group-addon
                        %i.fa.fa-calendar

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "comments"}
                    = t(:comments)
                  .entry
                    .col-md-6.col-sm-6.col-xs-6.input-field
                      %textarea.form-control.col-md-7.col-xs-12{:name => "absence[comments]", :type => "text", :rows => 5, :placeholder => t(:optional)}= @absence.comments

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    %button.btn.btn-success{:type => "submit"}= t(:submit)

= javascript_include_tag "daterangepicker"

:javascript
  $(document).ready(function() {
    var options = {
      timePicker: true,
      timePicker24Hour: true,
      locale: {
        format: "YYYY-MM-DD HH:mm",
      }
    }

    var started_at = '#{@absence.try(:start).try(:strftime, "%Y-%m-%d %H:%M")}';
    var ended_at = '#{@absence.try(:end).try(:strftime, "%Y-%m-%d %H:%M")}';

    if (started_at) {
      options['startDate'] = started_at;
    }
    if (ended_at) {
      options['endDate'] = ended_at;
    }

    $('#period').daterangepicker(options);
    $('#period').on('apply.daterangepicker', function(ev, picker) {
      $('#absence_start').val(picker.startDate);
      $('#absence_end').val(picker.endDate);
    });
  });
