- provide :body_class, "nav-md"

/ page content
.right_col{:role => "main"}
  .row
    .col-md-12.col-sm-12.col-xs-12
      = will_paginate @tenancies, renderer: BootstrapPagination::Rails

    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2
            Tenancies
            - if current_user.admin?
              %small
                %a.btn.btn-xs.btn-info{:href => new_admin_tenancy_path} Add
          %ul.nav.navbar-right.panel_toolbox
            %li
              %a.collapse-link
                %i.fa.fa-chevron-up
            %li
              %a.close-link
                %i.fa.fa-close
          .clearfix
        .x_content
          %table.table.table-hover
            %thead
              %tr
                %th Absence type
                %th Terms
                %th Rent £ / PCM
                %th Deposit £ / PCM
                %th Start date
                %th End date
                %th Created at
                %th Tenants
                - if current_user.admin?
                  %th Edit
            %tbody
              - @absences.each do |tenancy|
                %tr
                  %td
                    %a{:href => admin_tenancy_path(tenancy)}
                      .label.label-primary= tenancy.name
                  %td= tenancy.tenants
                  %td= tenancy.term
                  %td= tenancy.rent
                  %td= tenancy.deposit
                  %td= tenancy.start_date
                  %td= tenancy.end_date
                  %td= tenancy.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S")
                  - if current_user.admin?
                    %td
                      %a.btn.btn-info.btn-xs{:href => edit_admin_tenancy_path(tenancy)}
                        %i.fa.fa-pencil
                        Edit

    .col-md-12.col-sm-12.col-xs-12
      = will_paginate @absences, renderer: BootstrapPagination::Rails
