!!!
%html{:lang => "zh"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t(:company_name)
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
  %body{class: (yield :body_class)}
    - if user_signed_in?
      .container.body
        .main_container
          = render "shared/flash_messages"
          = render "shared/left_menu"
          = render "shared/top_menu"
          = yield
          = render "shared/footer"
    - else
      = yield
